.csinfo-body {
    margin: 10px;
    background: #F4F0EF;
    min-height: 550px;
}

table {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
    background: #FFF;
    border-spacing: 0;
    display: inline-table;
    justify-content: center;
}

.td,
.th {
    text-align: center;
    padding: 8px;
}

td {
    font-size: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .12);
}

tr {
    height: 48px;
}

th {
    font-size: 14px;
    font-weight: 500;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, .12);
}

.cursor{
    cursor: pointer;
}

.mat-divider {
    border-top-color: white;
}

.pt-10 {
    padding-top: 10px;
}

.footer {
    height: 220px;
    background-color: #5b5c5e;
    color: whitesmoke;
    display: flex;
    margin-top: 100px;
}
.footer-body{
    font-size:13px;padding-top: 10px;float:left;padding-right: 16px;
}
.footer-end {
    height: 40px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    font-size: 14px;
    text-align: center;
    justify-content: center;
}
.footer-body2{
    padding-top: 30px;margin-top: 10px; width:30%
}
.fs-13{
    font-size: 13px;
}
.sub-footer{
    padding-top: 20px;padding-left: 10px;margin-top: 10px; width:30%
}