<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon btn-border" aria-label="Example icon-button with menu icon">
        <mat-icon color="primary" style="font-weight: 700;">add</mat-icon>
    </button>
    <span class="clr-O">DemoCo</span>&nbsp;<span class="clr-B">Health</span>
    <span class="example-spacer"></span>

    <span class="fs-14">About Us</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fs-14">Products</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fs-14">Services</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fs-14">Contact Us</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fs-14">Login</span> &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-icon-button class="example-icon btn-border" aria-label="Example icon-button with share icon">
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar> -->

<div class="app-body">
    <div class="card-sub">
        <div class="card-main">
            <mat-card class="card">
                <mat-icon class="card-icon">perm_identity</mat-icon><br />
                <p class="clr-lb">Find a Medical Provider</p>
            </mat-card>
            <mat-card class="card">
                <mat-icon class="card-icon">perm_identity</mat-icon>
                <p class="clr-lb">Find a Dental Provider</p>
            </mat-card>
        </div>
        <div class="card-main">
            <mat-card class="card">
                <mat-icon class="card-icon">local_grocery_store</mat-icon>
                <p class="clr-lb">Shop at our store</p>
            </mat-card>
            <mat-card class="card">
                <mat-icon class="card-icon">enhanced_encryption</mat-icon>
                <p class="clr-lb">Health and wellness tools</p>
            </mat-card>
        </div>
        <div class="card-main">
            <mat-card class="card">
                <mat-icon class="card-icon">description</mat-icon>
                <p class="clr-lb">Document Library</p>
            </mat-card>
            <mat-card class="card" (click)="navigateToCostSharing()">
                <mat-icon class="card-icon">description</mat-icon>
                <p class="clr-lb">Cost Sharing Information</p>
            </mat-card>
        </div>
    </div>
</div>
<!-- </div> -->