<div class="app-body">
    <div class="card-sub">
        <div class="card-main">
            <mat-card class="card">
                <mat-icon class="card-icon">perm_identity</mat-icon><br />
                <p class="clr-lb">Find a Medical Provider</p>
            </mat-card>
            <mat-card class="card">
                <mat-icon class="card-icon">perm_identity</mat-icon>
                <p class="clr-lb">Find a Dental Provider</p>
            </mat-card>
        </div>
        <div class="card-main">
            <mat-card class="card">
                <mat-icon class="card-icon">local_grocery_store</mat-icon>
                <p class="clr-lb">Shop at our store</p>
            </mat-card>
            <mat-card class="card">
                <mat-icon class="card-icon">enhanced_encryption</mat-icon>
                <p class="clr-lb">Health and wellness tools</p>
            </mat-card>
        </div>
        <div class="card-main">
            <mat-card class="card">
                <mat-icon class="card-icon">description</mat-icon>
                <p class="clr-lb">Document Library</p>
            </mat-card>
            <mat-card class="card cursor" (click)="navigateToCostSharing()">
                <mat-icon class="card-icon">description</mat-icon>
                <p class="clr-lb">Cost Sharing Information</p>
            </mat-card>
        </div>
    </div>
</div>
<!-- </div> -->