<div class="bg-image">

</div>
<div class="csinfo-body">
    <mat-icon color="warn" style="font-size: 50px;margin-right: 30px;">description</mat-icon>
    <mat-label style="color:  #3f51b5;"><b>Cost Sharing Information</b></mat-label>
    <p style="font-size: small;">Public Information on pricing for in-network and out-of-network services and
        prescription drugs</p>
        
    <div class='example-button-row'>
        <button mat-raised-button color="primary" class="m-20" style="width: 650px;">In Network Negotiated
            Rates</button>
        <button mat-stroked-button class="m-20">
            <mat-icon>print</mat-icon>Download File
        </button>
        <button mat-stroked-button>
            View
        </button>
    </div>

    <div class='example-button-row'>
        <button mat-raised-button color="primary" class="m-20" style="width: 650px;">Out of Network allowed
            amounts</button>
        <button mat-stroked-button class="m-20">
            <mat-icon>print</mat-icon>Download File
        </button>
        <button mat-stroked-button>
            View
        </button>
    </div>

    <div class='example-button-row'>
        <button mat-raised-button color="primary" class="m-20" style="width: 650px;">In Network Prescription
            drugs</button>
        <button mat-stroked-button class="m-20">
            <mat-icon>print</mat-icon>Download File
        </button>
        <button mat-stroked-button>
            View
        </button>
    </div>

<p style="font-size: small;">Note: Json files available for public use, content can be searched through third party app that downloads and uses these files.</p>
</div>